@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-default: #edf2f6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  padding-bottom: 100px;
}
@media only screen and (max-width: 768px) {
  body {
    width: fit-content;
  }
}

body {
  background-color: var(--background-default);
}

a {
  color: inherit;
  text-decoration: none;
}
